@import url(https://fonts.googleapis.com/css?family=Heebo:200,regular,500,600,700);

/* font-family: 'Heebo', sans-serif; */

form {
    font-family: 'Heebo', sans-serif;
    ;
}

input.ng-valid.ng-touched,
select.ng-valid.ng-touched {
    border-color: lightgreen;
}

input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    border-color: lightcoral;
}

.error {
    border-color: tomato;
    color: tomato;
}

h2 {
    margin-top: 50px;
    text-align: center;
    font-size: 2.5em;
    font-family: 'Heebo', sans-serif;
}